version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: docker/prod/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - API_PORT=8000
      - API_HOST=0.0.0.0
      - DEBUG=False
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - MONGO_URL=mongodb://mongodb:27017
      - DB_NAME=time_tracking_db
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    depends_on:
      - mongodb

  mongodb:
    image: mongo:5.0
    volumes:
      - mongodb_data:/data/db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  mongodb_data:
